<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ArtM_BulkOrder::BulkOrder" title="BulkOrder" module="ArtM_BulkOrder" sortOrder="100" action="artm_bulkorder/index" resource="ArtM_BulkOrder::index" parent="ArtM_BlogEsg::BlogEsgmenu" />
    </menu>
</config>  